openapi: 3.0.3
info:
  title: Losant Application Device API
  version: 1.29.4
  description: Manage Losant Applications, the top-level container for IoT solutions, plus dashboards, events, webhooks, integrations,
    files, audit logs, credentials, certificates, application keys, API tokens, and resource jobs. Derived from the Losant
    Platform API (Bravado/Swagger 2) at https://api.losant.com/.
  contact:
    name: Losant Support
    url: https://www.losant.com/contact
    email: hello@losant.com
  license:
    name: Proprietary
    url: https://www.losant.com/legal
  x-source: https://api.losant.com/
  x-publisher: Losant IoT, Inc.
servers:
- url: https://api.losant.com
  description: Losant Platform API (US multi-tenant cloud)
security:
- BearerAuth: []
tags:
- name: Device
  description: Device resources on the Losant Platform.
paths:
  /applications/{applicationId}/device-recipes:
    get:
      operationId: deviceRecipes.get
      summary: Returns the Device Recipes for an Application
      tags:
      - Device
      parameters:
      - name: applicationId
        in: path
        description: ID associated with the application
        required: true
        example: 575ec8687ae143cd83dc4a97
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      - name: sortField
        in: query
        description: Field to sort the results by
        required: false
        example: name
        schema:
          type: string
          enum:
          - name
          - id
          - creationDate
          - lastUpdated
          default: name
      - name: sortDirection
        in: query
        description: Direction to sort the results by
        required: false
        example: asc
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
      - name: page
        in: query
        description: Which page of results to return
        required: false
        example: 0
        schema:
          type: string
          default: 0
      - name: perPage
        in: query
        description: How many items to return per page
        required: false
        example: 10
        schema:
          type: string
          default: 100
      - name: filterField
        in: query
        description: Field to filter the results by. Blank or not provided means no filtering.
        required: false
        example: name
        schema:
          type: string
          enum:
          - name
      - name: filter
        in: query
        description: Filter to apply against the filtered field. Supports globbing. Blank or not provided means no filtering.
        required: false
        example: my * recipe
        schema:
          type: string
      - name: tagsAsObject
        in: query
        description: Return tags as an object map instead of an array
        required: false
        example: false
        schema:
          type: string
      - name: attributesAsObject
        in: query
        description: Return attributes as an object map instead of an array
        required: false
        example: true
        schema:
          type: string
      responses:
        '200':
          description: Collection of device recipes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deviceRecipes'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if application was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
    post:
      operationId: deviceRecipes.post
      summary: Create a New Device Recipe for an Application
      tags:
      - Device
      parameters:
      - name: applicationId
        in: path
        description: ID associated with the application
        required: true
        example: 575ec8687ae143cd83dc4a97
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      - name: tagsAsObject
        in: query
        description: Return tags as an object map instead of an array
        required: false
        example: false
        schema:
          type: string
      - name: attributesAsObject
        in: query
        description: Return attributes as an object map instead of an array
        required: false
        example: true
        schema:
          type: string
      requestBody:
        description: New device recipe information
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deviceRecipePost'
      responses:
        '201':
          description: Successfully created device recipe
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deviceRecipe'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if application was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
  /applications/{applicationId}/device-recipes/{deviceRecipeId}:
    get:
      operationId: deviceRecipe.get
      summary: Retrieves Information on a Device Recipe
      tags:
      - Device
      parameters:
      - name: applicationId
        in: path
        description: ID associated with the application
        required: true
        example: 575ec8687ae143cd83dc4a97
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      - name: deviceRecipeId
        in: path
        description: ID associated with the device recipe
        required: true
        example: 575ecec57ae143cd83dc4a9f
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      - name: tagsAsObject
        in: query
        description: Return tags as an object map instead of an array
        required: false
        example: true
        schema:
          type: string
      - name: attributesAsObject
        in: query
        description: Return attributes as an object map instead of an array
        required: false
        example: true
        schema:
          type: string
      responses:
        '200':
          description: Device recipe information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deviceRecipe'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if device recipe was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
    patch:
      operationId: deviceRecipe.patch
      summary: Updates Information About a Device Recipe
      tags:
      - Device
      parameters:
      - name: applicationId
        in: path
        description: ID associated with the application
        required: true
        example: 575ec8687ae143cd83dc4a97
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      - name: deviceRecipeId
        in: path
        description: ID associated with the device recipe
        required: true
        example: 575ecec57ae143cd83dc4a9f
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      - name: tagsAsObject
        in: query
        description: Return tags as an object map instead of an array
        required: false
        example: false
        schema:
          type: string
      - name: attributesAsObject
        in: query
        description: Return attributes as an object map instead of an array
        required: false
        example: false
        schema:
          type: string
      requestBody:
        description: Object containing new properties of the device recipe
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deviceRecipePatch'
      responses:
        '200':
          description: Updated device recipe information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deviceRecipe'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if device recipe was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
    delete:
      operationId: deviceRecipe.delete
      summary: Deletes a Device Recipe
      tags:
      - Device
      parameters:
      - name: applicationId
        in: path
        description: ID associated with the application
        required: true
        example: 575ec8687ae143cd83dc4a97
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      - name: deviceRecipeId
        in: path
        description: ID associated with the device recipe
        required: true
        example: 575ecec57ae143cd83dc4a9f
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      responses:
        '200':
          description: If device recipe was successfully deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/success'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if device recipe was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
  /applications/{applicationId}/device-recipes/{deviceRecipeId}/bulkCreate:
    post:
      operationId: deviceRecipe.bulkCreate
      summary: Bulk Creates Devices Using This Recipe from a CSV
      tags:
      - Device
      parameters:
      - name: applicationId
        in: path
        description: ID associated with the application
        required: true
        example: 575ec8687ae143cd83dc4a97
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      - name: deviceRecipeId
        in: path
        description: ID associated with the device recipe
        required: true
        example: 575ecec57ae143cd83dc4a9f
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      requestBody:
        description: Object containing bulk creation info
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deviceRecipeBulkCreatePost'
      responses:
        '201':
          description: If devices were successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deviceRecipeBulkCreate'
        '202':
          description: If devices were enqueued to be created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/jobEnqueuedResult'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if device recipe was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
  /applications/{applicationId}/devices:
    patch:
      operationId: devices.patch
      summary: Update the Fields of One or More Devices
      tags:
      - Device
      parameters:
      - name: applicationId
        in: path
        description: ID associated with the application
        required: true
        example: 575ec8687ae143cd83dc4a97
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      requestBody:
        description: Object containing device query or IDs and update operations
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/devicesPatch'
      responses:
        '200':
          description: Object including an update log link and the number of devices updated, failed, and skipped
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/devicesUpdated'
        '202':
          description: Successfully queued bulk update job
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/jobEnqueuedResult'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if application was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
  /applications/{applicationId}/devices/compositeState:
    get:
      operationId: devices.getCompositeState
      summary: Retrieve the Composite Last Complete State of the Matching Devices
      tags:
      - Device
      parameters:
      - name: applicationId
        in: path
        description: ID associated with the application
        required: true
        example: 575ec8687ae143cd83dc4a97
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      - name: start
        in: query
        description: Start of time range to look at to build composite state
        required: false
        example: 1465790400000
        schema:
          type: string
          default: 1
      - name: end
        in: query
        description: End of time range to look at to build composite state
        required: false
        example: 1465790400000
        schema:
          type: string
          default: 0
      - name: attributes
        in: query
        description: Comma-separated list of attributes to include. When not provided, returns all attributes.
        required: false
        example: myAttr1,myAttr2
        schema:
          type: string
      - name: sortField
        in: query
        description: Field to sort the results by
        required: false
        example: name
        schema:
          type: string
          enum:
          - name
          - id
          - creationDate
          - lastUpdated
          - connectionStatus
          default: name
      - name: sortDirection
        in: query
        description: Direction to sort the results by
        required: false
        example: asc
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
      - name: page
        in: query
        description: Which page of results to return
        required: false
        example: 0
        schema:
          type: string
          default: 0
      - name: perPage
        in: query
        description: How many items to return per page
        required: false
        example: 10
        schema:
          type: string
          default: 100
      - name: query
        in: query
        description: Device advanced query JSON object
        required: false
        schema:
          type: object
      responses:
        '200':
          description: Collection of composite last state of the devices
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/compositeDevicesState'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if application was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
  /applications/{applicationId}/devices/payloadCounts:
    post:
      operationId: devices.payloadCounts
      summary: Creates an Export of Payload Count Information for the Matching Devices
      tags:
      - Device
      parameters:
      - name: applicationId
        in: path
        description: ID associated with the application
        required: true
        example: 575ec8687ae143cd83dc4a97
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      requestBody:
        description: Object containing export configuration
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/devicesExportPayloadCountPost'
      responses:
        '202':
          description: If generation of export was successfully started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/jobEnqueuedResult'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if application was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
  /applications/{applicationId}/devices/{deviceId}:
    patch:
      operationId: device.patch
      summary: Updates Information About a Device
      tags:
      - Device
      parameters:
      - name: applicationId
        in: path
        description: ID associated with the application
        required: true
        example: 575ec8687ae143cd83dc4a97
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      - name: deviceId
        in: path
        description: ID associated with the device
        required: true
        example: 575ecf887ae143cd83dc4aa2
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      - name: tagsAsObject
        in: query
        description: Return tags as an object map instead of an array
        required: false
        example: true
        schema:
          type: string
      - name: attributesAsObject
        in: query
        description: Return attributes as an object map instead of an array
        required: false
        example: false
        schema:
          type: string
      requestBody:
        description: Object containing new properties of the device
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/devicePatch'
      responses:
        '200':
          description: Updated device information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/device'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if device was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
  /applications/{applicationId}/devices/{deviceId}/attributes:
    get:
      operationId: deviceAttributes.get
      summary: Returns the Attributes for a Device
      tags:
      - Device
      parameters:
      - name: applicationId
        in: path
        description: ID associated with the application
        required: true
        example: 575ec8687ae143cd83dc4a97
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      - name: deviceId
        in: path
        description: ID associated with the device
        required: true
        example: 575ecf887ae143cd83dc4aa2
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      - name: sortField
        in: query
        description: Field to sort the results by
        required: false
        example: status
        schema:
          type: string
          enum:
          - name
          - dataType
          default: name
      - name: sortDirection
        in: query
        description: Direction to sort the results by
        required: false
        example: asc
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
      - name: filterField
        in: query
        description: Field to filter the results by. Blank or not provided means no filtering.
        required: false
        example: status
        schema:
          type: string
          enum:
          - name
          - dataType
      - name: filter
        in: query
        description: Filter to apply against the filtered field. Supports globbing. Blank or not provided means no filtering.
        required: false
        example: number
        schema:
          type: string
      responses:
        '200':
          description: Collection of device attributes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deviceAttributes'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if device was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
    post:
      operationId: deviceAttributes.post
      summary: Adds a New Attribute to a Device
      tags:
      - Device
      parameters:
      - name: applicationId
        in: path
        description: ID associated with the application
        required: true
        example: 575ec8687ae143cd83dc4a97
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      - name: deviceId
        in: path
        description: ID associated with the device
        required: true
        example: 575ecf887ae143cd83dc4aa2
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      requestBody:
        description: Device attribute information
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deviceAttributePost'
      responses:
        '201':
          description: Successfully created device attribute
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deviceAttribute'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if device was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
  /applications/{applicationId}/devices/{deviceId}/attributes/{name}:
    get:
      operationId: deviceAttribute.get
      summary: Retrieves Information on a Device Attribute
      tags:
      - Device
      parameters:
      - name: applicationId
        in: path
        description: ID associated with the application
        required: true
        example: 575ec8687ae143cd83dc4a97
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      - name: deviceId
        in: path
        description: ID associated with the device
        required: true
        example: 575ecf887ae143cd83dc4aa2
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      - name: name
        in: path
        description: Name of the attribute
        required: true
        example: voltage
        schema:
          type: string
          pattern: ^[0-9a-zA-Z_-]{1,255}$
      responses:
        '200':
          description: Device attribute information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deviceAttribute'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if device attribute was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
    patch:
      operationId: deviceAttribute.patch
      summary: Updates an Attribute on a Device
      tags:
      - Device
      parameters:
      - name: applicationId
        in: path
        description: ID associated with the application
        required: true
        example: 575ec8687ae143cd83dc4a97
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      - name: deviceId
        in: path
        description: ID associated with the device
        required: true
        example: 575ecf887ae143cd83dc4aa2
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      - name: name
        in: path
        description: Name of the attribute
        required: true
        example: voltage
        schema:
          type: string
          pattern: ^[0-9a-zA-Z_-]{1,255}$
      requestBody:
        description: Object containing new properties of the device attribute
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deviceAttributePatch'
      responses:
        '200':
          description: Updated device attribute information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deviceAttribute'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if device attribute was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
    delete:
      operationId: deviceAttribute.delete
      summary: Removes an Attribute from a Device
      tags:
      - Device
      parameters:
      - name: applicationId
        in: path
        description: ID associated with the application
        required: true
        example: 575ec8687ae143cd83dc4a97
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      - name: deviceId
        in: path
        description: ID associated with the device
        required: true
        example: 575ecf887ae143cd83dc4aa2
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      - name: name
        in: path
        description: Name of the attribute
        required: true
        example: voltage
        schema:
          type: string
          pattern: ^[0-9a-zA-Z_-]{1,255}$
      responses:
        '200':
          description: If device attribute was successfully deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/success'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if device attribute was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
  /applications/{applicationId}/devices/{deviceId}/data:
    delete:
      operationId: device.removeData
      summary: Removes All Device Data for the Specified Time Range. Defaults to All Data.
      tags:
      - Device
      parameters:
      - name: applicationId
        in: path
        description: ID associated with the application
        required: true
        example: 575ec8687ae143cd83dc4a97
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      - name: deviceId
        in: path
        description: ID associated with the device
        required: true
        example: 575ecf887ae143cd83dc4aa2
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      - name: start
        in: query
        description: Start time of export (ms since epoch - 0 means now, negative is relative to now)
        required: false
        example: 1465790400000
        schema:
          type: string
          default: 1
      - name: end
        in: query
        description: End time of export (ms since epoch - 0 means now, negative is relative to now)
        required: false
        example: 1465790400000
        schema:
          type: string
          default: 0
      responses:
        '202':
          description: If data removal was successfully started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/jobEnqueuedResult'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if device was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
  /applications/{applicationId}/devices/{deviceId}/payloadCountsBreakdown:
    get:
      operationId: device.payloadCountsBreakdown
      summary: Returns Payload Counts per Resolution in the Time Range Specified for This Device
      tags:
      - Device
      parameters:
      - name: applicationId
        in: path
        description: ID associated with the application
        required: true
        example: 575ec8687ae143cd83dc4a97
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      - name: deviceId
        in: path
        description: ID associated with the device
        required: true
        example: 575ecf887ae143cd83dc4aa2
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      - name: start
        in: query
        description: Start of range for payload count query (ms since epoch)
        required: false
        example: 0
        schema:
          type: string
          default: -2592000000
      - name: end
        in: query
        description: End of range for payload count query (ms since epoch)
        required: false
        example: 1465790400000
        schema:
          type: string
          default: 0
      - name: resolution
        in: query
        description: Resolution in milliseconds
        required: false
        example: 86400000
        schema:
          type: string
          enum:
          - '86400000'
          - '3600000'
          default: 86400000
      responses:
        '200':
          description: Sum of payload counts by date
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payloadCountsBreakdown'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if device was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
  /applications/{applicationId}/devices/{deviceId}/setConnectionStatus:
    post:
      operationId: device.setConnectionStatus
      summary: Set the Current Connection Status of the Device
      tags:
      - Device
      parameters:
      - name: applicationId
        in: path
        description: ID associated with the application
        required: true
        example: 575ec8687ae143cd83dc4a97
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      - name: deviceId
        in: path
        description: ID associated with the device
        required: true
        example: 575ecf887ae143cd83dc4aa2
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      requestBody:
        description: The current connection status of the device
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deviceConnectionStatus'
      responses:
        '200':
          description: If connection status was successfully applied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/success'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if device was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
components:
  schemas:
    deviceRecipes:
      title: Device Recipes
      description: Schema for a collection of Device Recipes
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/deviceRecipe'
        count:
          type: integer
        totalCount:
          type: integer
        perPage:
          type: integer
        page:
          type: integer
        filter:
          type: string
        filterField:
          type: string
        sortField:
          type: string
        sortDirection:
          $ref: '#/components/schemas/common/sortDirection'
        applicationId:
          $ref: '#/components/schemas/common/objectId'
    compositeDevicesState:
      title: Devices Composite State
      description: Schema for a collection of Composite Device State
      type: object
      properties:
        items:
          type: array
          items:
            type: object
            properties:
              id:
                $ref: '#/components/schemas/common/objectId'
              name:
                $ref: '#/components/schemas/common/name'
              compositeState:
                $ref: '#/components/schemas/compositeDeviceState'
        count:
          type: integer
        totalCount:
          type: integer
        perPage:
          type: integer
        page:
          type: integer
        sortField:
          type: string
        sortDirection:
          $ref: '#/components/schemas/common/sortDirection'
        applicationId:
          $ref: '#/components/schemas/common/objectId'
        query:
          type: object
    device:
      title: Device
      description: Schema for a single Device
      type: object
      properties:
        id:
          $ref: '#/components/schemas/common/objectId'
        deviceId:
          $ref: '#/components/schemas/common/objectId'
        applicationId:
          $ref: '#/components/schemas/common/objectId'
        creationDate:
          $ref: '#/components/schemas/common/date'
        lastUpdated:
          $ref: '#/components/schemas/common/date'
        deletedAt:
          $ref: '#/components/schemas/common/date'
        name:
          $ref: '#/components/schemas/common/name'
        description:
          $ref: '#/components/schemas/common/description'
        tags:
          $ref: '#/components/schemas/common/tagsRequired'
        attributes:
          $ref: '#/components/schemas/common/deviceAttributesInternal'
        deviceClass:
          $ref: '#/components/schemas/common/deviceClass'
        gatewayId:
          $ref: '#/components/schemas/common/objectId'
        edgeAgentVersion:
          $ref: '#/components/schemas/common/version'
        connectionInfo:
          type: object
          properties:
            time:
              $ref: '#/components/schemas/common/date'
            connected:
              enum:
              - 1
              - 0
              - null
        parentId:
          $ref: '#/components/schemas/common/objectIdOrNull'
        ancestorIds:
          $ref: '#/components/schemas/common/objectIds'
        systemInterval:
          $ref: '#/components/schemas/common/systemInterval'
        keepDuplicates:
          type: boolean
    advancedDeviceQuery:
      title: Advanced Device Query
      description: Schema for advanced device queries
      type: object
      properties:
        $and:
          type: array
          items:
            $ref: '#/components/schemas/advancedDeviceQuery'
          maxItems: 100
        $or:
          type: array
          items:
            $ref: '#/components/schemas/advancedDeviceQuery'
          maxItems: 100
        $nor:
          type: array
          items:
            $ref: '#/components/schemas/advancedDeviceQuery'
          maxItems: 100
        id:
          $ref: '#/components/schemas/common/advancedIdQuery'
        creationDate:
          $ref: '#/components/schemas/common/advancedValueQuery'
        lastUpdated:
          $ref: '#/components/schemas/common/advancedValueQuery'
        deletedAt:
          $ref: '#/components/schemas/common/advancedValueQuery'
        name:
          $ref: '#/components/schemas/common/advancedValueQuery'
        deviceClass:
          $ref: '#/components/schemas/common/advancedValueQuery'
        gatewayId:
          $ref: '#/components/schemas/common/advancedIdQuery'
        parentId:
          $ref: '#/components/schemas/common/advancedIdQuery'
        ancestorId:
          $ref: '#/components/schemas/common/advancedIdQuery'
        attributeName:
          $ref: '#/components/schemas/common/advancedValueQuery'
        experienceUserId:
          $ref: '#/components/schemas/common/advancedIdQuery'
        experienceGroupId:
          $ref: '#/components/schemas/common/advancedIdQuery'
        tags:
          $ref: '#/components/schemas/common/advancedTagQueryWithOps'
        disconnectedAt:
          $ref: '#/components/schemas/common/advancedValueQuery'
        connectedAt:
          $ref: '#/components/schemas/common/advancedValueQuery'
        connectionStatus:
          $ref: '#/components/schemas/common/advancedValueQuery'
      additionalProperties: false
    deviceAttributes:
      title: Device Attributes
      description: Schema for a collection of Device Attributes
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/deviceAttribute'
        count:
          type: integer
        totalCount:
          type: integer
        filter:
          type: string
        filterField:
          type: string
        sortField:
          type: string
        sortDirection:
          $ref: '#/components/schemas/common/sortDirection'
        applicationId:
          $ref: '#/components/schemas/common/objectId'
        deviceId:
          $ref: '#/components/schemas/common/objectId'
    payloadCountsBreakdown:
      title: Payload Counts Breakdown
      description: Schema for the result of a payload counts breakdown request
      type: object
      properties:
        start:
          $ref: '#/components/schemas/common/date'
        end:
          $ref: '#/components/schemas/common/date'
        counts:
          type: array
          items:
            type: object
            properties:
              date:
                $ref: '#/components/schemas/common/date'
              value:
                type: integer
    deviceRecipePatch:
      title: Device Recipe Patch
      description: Schema for the body of a Device Recipe modification request
      type: object
      properties:
        name:
          $ref: '#/components/schemas/common/name'
        deviceName:
          $ref: '#/components/schemas/common/name'
        description:
          $ref: '#/components/schemas/common/description'
        deviceDescription:
          $ref: '#/components/schemas/common/description'
        tags:
          $ref: '#/components/schemas/common/tagsRequired'
        attributes:
          $ref: '#/components/schemas/common/deviceAttributesInternal'
        deviceClass:
          $ref: '#/components/schemas/common/deviceClass'
        gatewayId:
          $ref: '#/components/schemas/common/objectIdOrNull'
        parentId:
          $ref: '#/components/schemas/common/objectIdOrNull'
        systemInterval:
          $ref: '#/components/schemas/common/systemInterval'
        keepDuplicates:
          type: boolean
      additionalProperties: false
    deviceRecipeBulkCreatePost:
      title: Device Recipe Bulk Create Post
      description: Schema for the body of a bulk Device creation request
      type: object
      properties:
        csv:
          type: string
        count:
          type: integer
        nameColumn:
          type: string
          maxLength: 255
        descriptionColumn:
          type: string
          maxLength: 255
        gatewayIdColumn:
          type: string
          maxLength: 255
        parentIdColumn:
          type: string
          maxLength: 255
        makeUniqueKeySecret:
          type: boolean
        email:
          $ref: '#/components/schemas/common/email'
        callbackUrl:
          $ref: '#/components/schemas/common/url'
        gatewayId:
          $ref: '#/components/schemas/common/objectId'
        parentId:
          $ref: '#/components/schemas/common/objectIdOrNull'
      additionalProperties: false
    deviceConnectionStatus:
      title: Device Connection Status
      description: Schema for the body of a request to set a device's connection status
      oneOf:
      - title: Device Connected
        description: Schema for marking a device as connected
        type: object
        properties:
          status:
            type: string
            enum:
            - connected
          connectedAt:
            $ref: '#/components/schemas/common/timeFormats'
          ipAddress:
            type: string
            minLength: 2
            maxLength: 39
        required:
        - status
        additionalProperties: false
      - title: Device Disconnected
        description: Schema for marking a device as disconnected
        type: object
        properties:
          status:
            type: string
            enum:
            - disconnected
          connectedAt:
            $ref: '#/components/schemas/common/timeFormats'
          disconnectedAt:
            $ref: '#/components/schemas/common/timeFormats'
          disconnectReason:
            $ref: '#/components/schemas/common/optMedStr'
          messagesFromClient:
            type: integer
            minimum: 0
            maximum: 2147483647
          messagesToClient:
            type: integer
            minimum: 0
            maximum: 2147483647
          ipAddress:
            type: string
            minLength: 2
            maxLength: 39
        required:
        - status
        additionalProperties: false
    deviceAttribute:
      title: Device Attribute
      description: Schema for a single Device Attribute
      type: object
      properties:
        name:
          $ref: '#/components/schemas/common/deviceAttributeInternal/properties/name'
        dataType:
          $ref: '#/components/schemas/common/deviceAttributeInternal/properties/dataType'
        contentType:
          $ref: '#/components/schemas/common/deviceAttributeInternal/properties/contentType'
        description:
          $ref: '#/components/schemas/common/deviceAttributeInternal/properties/description'
        attributeTags:
          $ref: '#/components/schemas/common/deviceAttributeInternal/properties/attributeTags'
        system:
          $ref: '#/components/schemas/common/deviceAttributeInternal/properties/system'
        applicationId:
          $ref: '#/components/schemas/common/objectId'
        deviceId:
          $ref: '#/components/schemas/common/objectId'
    deviceAttributePatch:
      title: Device Attribute Patch
      description: Schema for the body of a Device Attribute modification request
      type: object
      properties:
        name:
          $ref: '#/components/schemas/common/deviceAttributeInternal/properties/name'
        contentType:
          $ref: '#/components/schemas/common/deviceAttributeInternal/properties/contentType'
        description:
          $ref: '#/components/schemas/common/deviceAttributeInternal/properties/description'
        attributeTags:
          $ref: '#/components/schemas/common/deviceAttributeInternal/properties/attributeTags'
        system:
          $ref: '#/components/schemas/common/deviceAttributeInternal/properties/system'
      additionalProperties: false
    deviceRecipePost:
      title: Device Recipe Post
      description: Schema for the body of a Device Recipe creation request
      type: object
      properties:
        name:
          $ref: '#/components/schemas/common/name'
        deviceName:
          $ref: '#/components/schemas/common/name'
        description:
          $ref: '#/components/schemas/common/description'
        deviceDescription:
          $ref: '#/components/schemas/common/description'
        tags:
          $ref: '#/components/schemas/common/tagsRequired'
        attributes:
          $ref: '#/components/schemas/common/deviceAttributesInternal'
        deviceClass:
          $ref: '#/components/schemas/common/deviceClass'
        gatewayId:
          $ref: '#/components/schemas/common/objectId'
        parentId:
          $ref: '#/components/schemas/common/objectIdOrNull'
        systemInterval:
          $ref: '#/components/schemas/common/systemInterval'
        keepDuplicates:
          type: boolean
      additionalProperties: false
      required:
      - name
    devicesUpdated:
      title: Devices Updated
      description: Schema for response of devices updated if under 100 devices queried
      type: object
      properties:
        updated:
          type: number
        failed:
          type: number
        skipped:
          type: number
        logLink:
          type: string
    success:
      title: Success
      description: Schema for reporting a successful operation
      type: object
      properties:
        success:
          type: boolean
          enum:
          - true
    devicePatch:
      title: Device Patch
      description: Schema for the body of a Device modification request
      type: object
      properties:
        name:
          $ref: '#/components/schemas/common/name'
        description:
          $ref: '#/components/schemas/common/description'
        tags:
          $ref: '#/components/schemas/common/tagsRequired'
        attributes:
          $ref: '#/components/schemas/common/deviceAttributesInternal'
        deviceClass:
          $ref: '#/components/schemas/common/deviceClass'
        gatewayId:
          $ref: '#/components/schemas/common/objectId'
        parentId:
          $ref: '#/components/schemas/common/objectIdOrNull'
        systemInterval:
          $ref: '#/components/schemas/common/systemInterval'
        keepDuplicates:
          type: boolean
      additionalProperties: false
    deviceRecipe:
      title: Device Recipe
      description: Schema for a single Device Recipe
      type: object
      properties:
        id:
          $ref: '#/components/schemas/common/objectId'
        deviceRecipeId:
          $ref: '#/components/schemas/common/objectId'
        applicationId:
          $ref: '#/components/schemas/common/objectId'
        creationDate:
          $ref: '#/components/schemas/common/date'
        lastUpdated:
          $ref: '#/components/schemas/common/date'
        name:
          $ref: '#/components/schemas/common/name'
        deviceName:
          $ref: '#/components/schemas/common/name'
        description:
          $ref: '#/components/schemas/common/description'
        deviceDescription:
          $ref: '#/components/schemas/common/description'
        tags:
          $ref: '#/components/schemas/common/tagsRequired'
        attributes:
          $ref: '#/components/schemas/common/deviceAttributesInternal'
        deviceClass:
          $ref: '#/components/schemas/common/deviceClass'
        gatewayId:
          $ref: '#/components/schemas/common/objectId'
        parentId:
          $ref: '#/components/schemas/common/objectIdOrNull'
        systemInterval:
          $ref: '#/components/schemas/common/systemInterval'
        keepDuplicates:
          type: boolean
    devicesPatch:
      title: Devices Patch
      description: Schema for the body of a Devices modification request
      type: object
      properties:
        updateFields:
          $ref: '#/components/schemas/devicePatch'
        deviceIds:
          $ref: '#/components/schemas/common/objectIds'
        query:
          $ref: '#/components/schemas/advancedDeviceQuery'
        updateOperations:
          $ref: '#/components/schemas/common/deviceUpdateOperations'
        email:
          $ref: '#/components/schemas/common/email'
        callbackUrl:
          $ref: '#/components/schemas/common/url'
      additionalProperties: false
      required: []
    compositeDeviceState:
      title: Composite Device State
      description: Schema for a composite Device state
      type: object
      patternProperties:
        ^[0-9a-zA-Z_-]{1,255}$:
          type: object
          properties:
            value:
              type:
              - number
              - string
              - boolean
            time:
              $ref: '#/components/schemas/common/timeFormats'
      additionalProperties: false
    error:
      title: Error
      description: Schema for errors returned by the API
      type: object
      properties:
        type:
          type: string
        message:
          type: string
    deviceAttributePost:
      title: Device Attribute Post
      description: Schema for the body of a Device Attribute creation request
      type: object
      properties:
        name:
          $ref: '#/components/schemas/common/deviceAttributeInternal/properties/name'
        dataType:
          $ref: '#/components/schemas/common/deviceAttributeInternal/properties/dataType'
        contentType:
          $ref: '#/components/schemas/common/deviceAttributeInternal/properties/contentType'
        description:
          $ref: '#/components/schemas/common/deviceAttributeInternal/properties/description'
        attributeTags:
          $ref: '#/components/schemas/common/deviceAttributeInternal/properties/attributeTags'
        system:
          $ref: '#/components/schemas/common/deviceAttributeInternal/properties/system'
      required:
      - name
      - dataType
      additionalProperties: false
    deviceRecipeBulkCreate:
      title: Device Recipe Bulk Create
      description: Schema for the result of a bulk Device creation request
      type: object
      properties:
        created:
          type: number
        failed:
          type: number
        csvResult:
          type: string
    devicesExportPayloadCountPost:
      title: Devices Payload Count Export Post
      description: Schema for the body of a device payload count export request
      type: object
      properties:
        email:
          $ref: '#/components/schemas/common/email'
        callbackUrl:
          $ref: '#/components/schemas/common/url'
        query:
          $ref: '#/components/schemas/advancedDeviceQuery'
        start:
          type: number
        end:
          type: number
      additionalProperties: false
    jobEnqueuedResult:
      title: Job Enqueued API Result
      description: Schema for the result of a job being queued
      type: object
      properties:
        jobQueued:
          type: boolean
          enum:
          - true
        jobId:
          type: string
          maxLength: 21
        success:
          type: boolean
          enum:
          - true
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Losant uses JSON Web Tokens (JWTs) for authentication. Obtain a token via POST /auth/user, POST /auth/device,
        POST /applications/{applicationId}/tokens, or POST /me/tokens and pass it in the Authorization header as `Bearer <token>`.
