openapi: 3.0.3
info:
  title: Losant Application API
  version: 1.29.4
  description: Manage Losant Applications, the top-level container for IoT solutions, plus dashboards, events, webhooks, integrations,
    files, audit logs, credentials, certificates, application keys, API tokens, and resource jobs. Derived from the Losant
    Platform API (Bravado/Swagger 2) at https://api.losant.com/.
  contact:
    name: Losant Support
    url: https://www.losant.com/contact
    email: hello@losant.com
  license:
    name: Proprietary
    url: https://www.losant.com/legal
  x-source: https://api.losant.com/
  x-publisher: Losant IoT, Inc.
servers:
- url: https://api.losant.com
  description: Losant Platform API (US multi-tenant cloud)
tags:
- name: Application
  description: Application resources on the Losant Platform.
security:
- BearerAuth: []
paths:
  /applications/{applicationId}/tokens/{apiTokenId}:
    get:
      summary: Retrieves Information on an API Token
      tags:
      - Application
      parameters:
      - &id001
        name: applicationId
        in: path
        description: ID associated with the application
        required: true
        example: 575ec8687ae143cd83dc4a97
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      - &id002
        name: apiTokenId
        in: path
        description: ID associated with the API token
        required: true
        example: 575ec7417ae143cd83dc4a95
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      responses:
        '200':
          description: API token information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiToken'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if API token was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
    patch:
      summary: Updates Information About an API Token
      tags:
      - Application
      parameters:
      - *id001
      - *id002
      requestBody:
        description: Object containing new properties of the API token
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/apiTokenPatch'
      responses:
        '200':
          description: Updated API token information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiToken'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if API token was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
    delete:
      summary: Deletes an API Token
      tags:
      - Application
      parameters:
      - *id001
      - *id002
      responses:
        '200':
          description: If API token was successfully deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/success'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if API token was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
  /applications/{applicationId}/tokens:
    get:
      summary: Returns the API Tokens for an Application
      tags:
      - Application
      parameters:
      - &id003
        name: applicationId
        in: path
        description: ID associated with the application
        required: true
        example: 575ec8687ae143cd83dc4a97
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      - name: sortField
        in: query
        description: Field to sort the results by
        required: false
        example: name
        schema:
          type: string
          enum:
          - name
          - status
          - id
          - creationDate
          - lastUpdated
          - expirationDate
          default: name
      - name: sortDirection
        in: query
        description: Direction to sort the results by
        required: false
        example: asc
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
      - name: page
        in: query
        description: Which page of results to return
        required: false
        example: 0
        schema:
          type: string
          default: 0
      - name: perPage
        in: query
        description: How many items to return per page
        required: false
        example: 10
        schema:
          type: string
          default: 100
      - name: filterField
        in: query
        description: Field to filter the results by. Blank or not provided means no filtering.
        required: false
        example: key
        schema:
          type: string
          enum:
          - name
          - status
      - name: filter
        in: query
        description: Filter to apply against the filtered field. Supports globbing. Blank or not provided means no filtering.
        required: false
        example: my*token
        schema:
          type: string
      responses:
        '200':
          description: Collection of API tokens
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiTokens'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
    post:
      summary: Create a New API Token for an Application
      tags:
      - Application
      parameters:
      - *id003
      requestBody:
        description: API token information
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/apiTokenPost'
      responses:
        '201':
          description: The successfully created API token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiToken'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
  /applications/{applicationId}/certificate-authorities:
    get:
      summary: Returns the Application Certificate Authorities for an Application
      tags:
      - Application
      parameters:
      - &id004
        name: applicationId
        in: path
        description: ID associated with the application
        required: true
        example: 575ec8687ae143cd83dc4a97
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      - name: sortField
        in: query
        description: Field to sort the results by
        required: false
        example: name
        schema:
          type: string
          enum:
          - name
          - status
          - id
          - creationDate
          - lastUpdated
          default: name
      - name: sortDirection
        in: query
        description: Direction to sort the results by
        required: false
        example: asc
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
      - name: page
        in: query
        description: Which page of results to return
        required: false
        example: 0
        schema:
          type: string
          default: 0
      - name: perPage
        in: query
        description: How many items to return per page
        required: false
        example: 10
        schema:
          type: string
          default: 100
      - name: filterField
        in: query
        description: Field to filter the results by. Blank or not provided means no filtering.
        required: false
        example: name
        schema:
          type: string
          enum:
          - name
          - status
      - name: filter
        in: query
        description: Filter to apply against the filtered field. Supports globbing. Blank or not provided means no filtering.
        required: false
        example: the*name
        schema:
          type: string
      responses:
        '200':
          description: Collection of application certificate authorities
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/applicationCertificateAuthorities'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if application was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
    post:
      summary: Create a New Application Certificate Authority for an Application
      tags:
      - Application
      parameters:
      - *id004
      requestBody:
        description: Application certificate authority information
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/applicationCertificateAuthorityPost'
      responses:
        '201':
          description: Successfully created application certificate authority
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/applicationCertificateAuthority'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if application was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
  /applications/{applicationId}/certificate-authorities/{applicationCertificateAuthorityId}:
    get:
      summary: Retrieves Information on an Application Certificate Authority
      tags:
      - Application
      parameters:
      - &id005
        name: applicationId
        in: path
        description: ID associated with the application
        required: true
        example: 575ec8687ae143cd83dc4a97
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      - &id006
        name: applicationCertificateAuthorityId
        in: path
        description: ID associated with the application certificate authority
        required: true
        example: 575ec76c7ae143cd83dc4a96
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      responses:
        '200':
          description: Application certificate authority information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/applicationCertificateAuthority'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if application certificate authority was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
    patch:
      summary: Updates Information About an Application Certificate Authority
      tags:
      - Application
      parameters:
      - *id005
      - *id006
      requestBody:
        description: Object containing new properties of the application certificate authority
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/applicationCertificateAuthorityPatch'
      responses:
        '200':
          description: Updated application certificate authority information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/applicationCertificateAuthority'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if application certificate authority was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
    delete:
      summary: Deletes an Application Certificate Authority
      tags:
      - Application
      parameters:
      - *id005
      - *id006
      responses:
        '200':
          description: If application certificate authority was successfully deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/success'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if application certificate authority was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
  /applications/{applicationId}/certificates/{applicationCertificateId}:
    get:
      summary: Retrieves Information on an Application Certificate
      tags:
      - Application
      parameters:
      - &id007
        name: applicationId
        in: path
        description: ID associated with the application
        required: true
        example: 575ec8687ae143cd83dc4a97
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      - &id008
        name: applicationCertificateId
        in: path
        description: ID associated with the application certificate
        required: true
        example: 575ec76c7ae143cd83dc4a96
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      responses:
        '200':
          description: Application certificate information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/applicationCertificate'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if application certificate was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
    patch:
      summary: Updates Information About an Application Certificate
      tags:
      - Application
      parameters:
      - *id007
      - *id008
      requestBody:
        description: Object containing new properties of the application certificate
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/applicationCertificatePatch'
      responses:
        '200':
          description: Updated application certificate information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/applicationCertificate'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if application certificate was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
    delete:
      summary: Deletes an Application Certificate
      tags:
      - Application
      parameters:
      - *id007
      - *id008
      responses:
        '200':
          description: If application certificate was successfully deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/success'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if application certificate was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
  /applications/{applicationId}/certificates:
    get:
      summary: Returns the Application Certificates for an Application
      tags:
      - Application
      parameters:
      - &id009
        name: applicationId
        in: path
        description: ID associated with the application
        required: true
        example: 575ec8687ae143cd83dc4a97
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      - name: sortField
        in: query
        description: Field to sort the results by
        required: false
        example: status
        schema:
          type: string
          enum:
          - certificateInfo.commonName
          - status
          - id
          - creationDate
          - lastUpdated
          default: certificateInfo.commonName
      - name: sortDirection
        in: query
        description: Direction to sort the results by
        required: false
        example: asc
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
      - name: page
        in: query
        description: Which page of results to return
        required: false
        example: 0
        schema:
          type: string
          default: 0
      - name: perPage
        in: query
        description: How many items to return per page
        required: false
        example: 10
        schema:
          type: string
          default: 100
      - name: filterField
        in: query
        description: Field to filter the results by. Blank or not provided means no filtering.
        required: false
        example: status
        schema:
          type: string
          enum:
          - certificateInfo.commonName
          - status
      - name: filter
        in: query
        description: Filter to apply against the filtered field. Supports globbing. Blank or not provided means no filtering.
        required: false
        example: the*status
        schema:
          type: string
      responses:
        '200':
          description: Collection of application certificates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/applicationCertificates'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if application was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
    post:
      summary: Create a New Application Certificate for an Application
      tags:
      - Application
      parameters:
      - *id009
      requestBody:
        description: Application certificate information
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/applicationCertificatePost'
      responses:
        '201':
          description: Successfully created application certificate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/applicationCertificate'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if application was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
  /applications/{applicationId}/dashboards/{dashboardId}:
    get:
      summary: Retrieves Information on a Dashboard
      tags:
      - Application
      parameters:
      - &id010
        name: dashboardId
        in: path
        description: ID of the associated dashboard
        required: true
        example: 575ece2b7ae143cd83dc4a9b
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      - &id011
        name: applicationId
        in: path
        description: ID of the associated application
        required: true
        example: 575ec8687ae143cd83dc4a97
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      responses:
        '200':
          description: Dashboard information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dashboard'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if dashboard was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
    patch:
      summary: Updates Information About a Dashboard
      tags:
      - Application
      parameters:
      - *id010
      - *id011
      requestBody:
        description: Object containing new dashboard properties
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dashboardPatch'
      responses:
        '200':
          description: Update dashboard information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dashboard'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if dashboard was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
    delete:
      summary: Deletes a Dashboard
      tags:
      - Application
      parameters:
      - *id010
      - *id011
      responses:
        '200':
          description: If dashboard was successfully deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/success'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if dashboard was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
    post:
      summary: Sends a Snapshot of a Dashboard
      tags:
      - Application
      parameters:
      - *id010
      - *id011
      requestBody:
        description: Object containing report options
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dashboardSendReport'
      responses:
        '202':
          description: If dashboard report was enqueued to be sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/jobEnqueuedResult'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if dashboard was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
  /applications/{applicationId}/jobLogs/{jobId}:
    get:
      summary: Returns the Job Log for the Given ID
      tags:
      - Application
      parameters:
      - name: applicationId
        in: path
        description: ID associated with the application
        required: true
        example: 575ec8687ae143cd83dc4a97
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      - name: jobId
        in: path
        description: ID associated with the job execution
        required: true
        example: 575ec8687ae143cd83dc4a98
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      responses:
        '200':
          description: An application job log
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/applicationJobLog'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if application job log was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
  /applications/{applicationId}/dashboards:
    get:
      summary: Returns All Dashboards Scoped to the Given Application.
      tags:
      - Application
      parameters:
      - &id012
        name: applicationId
        in: path
        description: ID associated with the application
        required: true
        example: 575ec8687ae143cd83dc4a97
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      - name: sortField
        in: query
        description: Field to sort the results by
        required: false
        example: name
        schema:
          type: string
          enum:
          - name
          - id
          - creationDate
          - lastUpdated
          default: name
      - name: sortDirection
        in: query
        description: Direction to sort the results by
        required: false
        example: asc
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
      - name: page
        in: query
        description: Which page of results to return
        required: false
        example: 0
        schema:
          type: string
          default: 0
      - name: perPage
        in: query
        description: How many items to return per page
        required: false
        example: 10
        schema:
          type: string
          default: 100
      - name: filterField
        in: query
        description: Field to filter the results by. Blank or not provided means no filtering.
        required: false
        example: name
        schema:
          type: string
          enum:
          - name
      - name: filter
        in: query
        description: Filter to apply against the filtered field. Supports globbing. Blank or not provided means no filtering.
        required: false
        example: my * dashboard
        schema:
          type: string
      responses:
        '200':
          description: Collection of dashboards
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dashboards'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if application was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
    post:
      summary: Create a New Dashboard
      tags:
      - Application
      parameters:
      - *id012
      requestBody:
        description: New dashboard information
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/applicationDashboardPost'
      responses:
        '201':
          description: Successfully created dashboard
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dashboard'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if application was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
  /applications/{applicationId}/jobLogs:
    get:
      summary: Returns the Job Logs for an Application
      tags:
      - Application
      parameters:
      - name: applicationId
        in: path
        description: ID associated with the application
        required: true
        example: 575ec8687ae143cd83dc4a97
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      - name: sortField
        in: query
        description: Field to sort the results by
        required: false
        example: status
        schema:
          type: string
          enum:
          - name
          - status
          - resourceType
          - runQueuedAt
          - runStartedAt
          - runCompletedAt
          default: runQueuedAt
      - name: sortDirection
        in: query
        description: Direction to sort the results by
        required: false
        example: asc
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
      - name: page
        in: query
        description: Which page of results to return
        required: false
        example: 0
        schema:
          type: string
          default: 0
      - name: perPage
        in: query
        description: How many items to return per page
        required: false
        example: 10
        schema:
          type: string
          default: 100
      - name: query
        in: query
        description: Filter application job logs by a query.
        required: false
        schema:
          type: object
      responses:
        '200':
          description: Collection of application job logs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/applicationJobLogs'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if application was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
  /applications/{applicationId}/keys/{applicationKeyId}:
    get:
      summary: Retrieves Information on an ApplicationKey
      tags:
      - Application
      parameters:
      - &id013
        name: applicationId
        in: path
        description: ID associated with the application
        required: true
        example: 575ec8687ae143cd83dc4a97
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      - &id014
        name: applicationKeyId
        in: path
        description: ID associated with the applicationKey
        required: true
        example: 575ec76c7ae143cd83dc4a96
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      responses:
        '200':
          description: applicationKey information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/applicationKey'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if applicationKey was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
    patch:
      summary: Updates Information About an ApplicationKey
      tags:
      - Application
      parameters:
      - *id013
      - *id014
      requestBody:
        description: Object containing new properties of the applicationKey
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/applicationKeyPatch'
      responses:
        '200':
          description: Updated applicationKey information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/applicationKey'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if applicationKey was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
    delete:
      summary: Deletes an ApplicationKey
      tags:
      - Application
      parameters:
      - *id013
      - *id014
      responses:
        '200':
          description: If applicationKey was successfully deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/success'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if applicationKey was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
  /applications/{applicationId}/keys:
    get:
      summary: Returns the ApplicationKeys for an Application
      tags:
      - Application
      parameters:
      - &id015
        name: applicationId
        in: path
        description: ID associated with the application
        required: true
        example: 575ec8687ae143cd83dc4a97
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      - name: sortField
        in: query
        description: Field to sort the results by
        required: false
        example: creationDate
        schema:
          type: string
          enum:
          - key
          - status
          - id
          - creationDate
          - lastUpdated
          - name
          default: creationDate
      - name: sortDirection
        in: query
        description: Direction to sort the results by
        required: false
        example: asc
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      - name: page
        in: query
        description: Which page of results to return
        required: false
        example: 0
        schema:
          type: string
          default: 0
      - name: perPage
        in: query
        description: How many items to return per page
        required: false
        example: 10
        schema:
          type: string
          default: 100
      - name: filterField
        in: query
        description: Field to filter the results by. Blank or not provided means no filtering.
        required: false
        example: key
        schema:
          type: string
          enum:
          - key
          - status
          - name
      - name: filter
        in: query
        description: Filter to apply against the filtered field. Supports globbing. Blank or not provided means no filtering.
        required: false
        example: the*key
        schema:
          type: string
      - name: query
        in: query
        description: Application key filter JSON object which overrides the filterField and filter parameters.
        required: false
        schema:
          type: object
      responses:
        '200':
          description: Collection of applicationKeys
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/applicationKeys'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if application was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
    post:
      summary: Create a New ApplicationKey for an Application
      tags:
      - Application
      parameters:
      - *id015
      requestBody:
        description: ApplicationKey information
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/applicationKeyPost'
      responses:
        '201':
          description: Successfully created applicationKey
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/applicationKeyPostResponse'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if application was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
  /applicationTemplates/{templateId}:
    get:
      summary: Retrieves Information on an Application Template
      tags:
      - Application
      parameters:
      - name: templateId
        in: path
        description: ID associated with the template
        required: true
        example: 575ed0de7ae143cd83dc4aa5
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      responses:
        '200':
          description: Application template information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/applicationTemplate'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if template was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
  /applicationTemplates:
    get:
      summary: Returns an Array of All Unique Keywords Currently in Use by Templates
      tags:
      - Application
      responses:
        '200':
          description: Array of all unique template keywords
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/templateKeywords'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
  /applications/{applicationId}:
    get:
      summary: Retrieves Information on Application Import Logs
      tags:
      - Application
      parameters:
      - &id016
        name: applicationId
        in: path
        description: ID of the associated application
        required: true
        example: 575ec8687ae143cd83dc4a97
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      - name: limit
        in: query
        description: Max log entries to return (ordered by time descending)
        required: false
        example: 10
        schema:
          type: string
          default: 1
      - name: since
        in: query
        description: Look for log entries since this time (ms since epoch)
        required: false
        example: 1465790400000
        schema:
          type: string
      responses:
        '200':
          description: Application log objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/applicationImportExecutions'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if application was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
    patch:
      summary: Updates an Application Global at the Given Key
      tags:
      - Application
      parameters:
      - *id016
      requestBody:
        description: Array of objects containing new application global information
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/applicationGlobalPatch'
      responses:
        '200':
          description: Updated application information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/application'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if application was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
    delete:
      summary: Deletes an Application
      tags:
      - Application
      parameters:
      - *id016
      responses:
        '200':
          description: If application was successfully deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/success'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if application was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
    post:
      summary: Add Multiple Resources to an Application via a Zip File
      tags:
      - Application
      parameters:
      - *id016
      - name: importBundle
        in: multipart
        description: The zip file containing all of the resources to import into the application
        required: false
        schema:
          type: file
      - name: email
        in: multipart
        description: Email address to notify the user when the job to import the application resources has completed or errored,
          defaults to the email address of the user making the request
        required: false
        example: email@example.com
        schema:
          type: string
      - name: options
        in: multipart
        description: Additional import options
        required: false
        schema:
          type: object
      responses:
        '200':
          description: Updated application information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/application'
        '202':
          description: If a job was enqueued for the resources to be imported into the application
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/jobEnqueuedResult'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if application is not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
  /applications:
    get:
      summary: Returns Application Usage Summaries Over a Selected Date Range
      tags:
      - Application
      parameters:
      - name: start
        in: query
        description: Start of range for resource count queries (ms since epoch)
        required: false
        example: 0
        schema:
          type: string
      - name: end
        in: query
        description: End of range for resource count queries (ms since epoch)
        required: false
        example: 1465790400000
        schema:
          type: string
      - name: asBytes
        in: query
        description: If the resulting payload counts should be returned as bytes
        required: false
        example: true
        schema:
          type: string
          default: false
      - name: includeNonBillable
        in: query
        description: If non-billable payloads should be included in the result
        required: false
        example: true
        schema:
          type: string
          default: false
      - name: sortField
        in: query
        description: Field to sort the results by
        required: false
        example: name
        schema:
          type: string
          enum:
          - name
          - id
          - creationDate
          - ownerId
          - lastUpdated
          default: name
      - name: sortDirection
        in: query
        description: Direction to sort the results by
        required: false
        example: asc
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
      - name: page
        in: query
        description: Which page of results to return
        required: false
        example: 0
        schema:
          type: string
          default: 0
      - name: perPage
        in: query
        description: How many items to return per page
        required: false
        example: 10
        schema:
          type: string
          default: 100
      - name: filterField
        in: query
        description: Field to filter the results by. Blank or not provided means no filtering.
        required: false
        example: name
        schema:
          type: string
          enum:
          - name
      - name: filter
        in: query
        description: Filter to apply against the filtered field. Supports globbing. Blank or not provided means no filtering.
        required: false
        example: my * app
        schema:
          type: string
      - name: orgId
        in: query
        description: If not provided, return all applications. If provided but blank, only return applications belonging to
          the current user. If provided and an id, only return applications belonging to the given organization id.
        required: false
        example: 575ecdf07ae143cd83dc4a9a
        schema:
          type: string
          pattern: ^([A-Fa-f\d]{24}|)$
      - name: exclude
        in: query
        description: Comma-separated list of resources to exclude from summary
        required: false
        example: payloadCounts, deviceCounts, notebookMinuteCounts
        schema:
          type: string
      - name: include
        in: query
        description: Comma-separated list of summary fields to include in application summary
        required: false
        example: deviceCounts
        schema:
          type: string
      responses:
        '200':
          description: Collection of application period summaries
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/periodSummaries'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
    post:
      summary: Create a New Application from an Import Bundle
      tags:
      - Application
      parameters:
      - name: importBundle
        in: multipart
        description: The zip file containing the application to import and all of its resources
        required: false
        schema:
          type: file
      - name: ownerId
        in: multipart
        description: The owner id of the new application, defaults to the id of the user making the request
        required: false
        example: 575ed6e87ae143cd83dc4aa8
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      - name: ownerType
        in: multipart
        description: The type of the owner id
        required: false
        example: user
        schema:
          type: string
          enum:
          - user
          - organization
          default: user
      - name: includeDevices
        in: multipart
        description: If set, import devices from the import bundle
        required: false
        example: true
        schema:
          type: string
      - name: includeDataTableRows
        in: multipart
        description: If set, import data table rows from import bundle
        required: false
        example: true
        schema:
          type: string
      - name: includeFiles
        in: multipart
        description: If set, import files from import bundle
        required: false
        example: true
        schema:
          type: string
      - name: email
        in: multipart
        description: Email address to notify the user when the job to import the application has completed or errored, defaults
          to the email address of the user making the request
        required: false
        example: email@example.com
        schema:
          type: string
      - name: options
        in: multipart
        description: Additional import options
        required: false
        schema:
          type: object
      responses:
        '201':
          description: Successfully created application
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/applicationCreationByTemplateResult'
        '202':
          description: If application was enqueued to be imported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/jobEnqueuedResult'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if application is not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '422':
          description: Error if too many validation errors occurred on other resources
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validationErrors'
      security:
      - BearerAuth: []
  /orgs/{orgId}/audit-logs/{auditLogId}:
    get:
      summary: Retrieves Information on an Audit Log
      tags:
      - Application
      parameters:
      - name: orgId
        in: path
        description: ID associated with the organization
        required: true
        example: 575ed6e87ae143cd83dc4aa8
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      - name: auditLogId
        in: path
        description: ID associated with the audit log
        required: true
        example: 57955788124b37010084c053
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      responses:
        '200':
          description: Audit log information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auditLog'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if audit log was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
  /orgs/{orgId}/audit-logs:
    get:
      summary: Returns the Audit Logs for the Organization
      tags:
      - Application
      parameters:
      - name: orgId
        in: path
        description: ID associated with the organization
        required: true
        example: 575ed6e87ae143cd83dc4aa8
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      - name: sortField
        in: query
        description: Field to sort the results by
        required: false
        example: creationDate
        schema:
          type: string
          enum:
          - creationDate
          - responseStatus
          - actorName
          default: creationDate
      - name: sortDirection
        in: query
        description: Direction to sort the results by
        required: false
        example: asc
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      - name: page
        in: query
        description: Which page of results to return
        required: false
        example: 0
        schema:
          type: string
          default: 0
      - name: perPage
        in: query
        description: How many items to return per page
        required: false
        example: 10
        schema:
          type: string
          default: 100
      - name: start
        in: query
        description: Start of time range for audit log query
        required: false
        example: 1465790400000
        schema:
          type: string
      - name: end
        in: query
        description: End of time range for audit log query
        required: false
        example: 1465790400000
        schema:
          type: string
      - name: auditLogFilter
        in: query
        description: Filters for the audit log query
        required: false
      responses:
        '200':
          description: Collection of audit logs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auditLogs'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if organization was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
  /applications/{applicationId}/credentials/{credentialId}:
    get:
      summary: Retrieves Information on Resources Linked to a Credential
      tags:
      - Application
      parameters:
      - &id017
        name: applicationId
        in: path
        description: ID associated with the application
        required: true
        example: 575ec8687ae143cd83dc4a97
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      - &id018
        name: credentialId
        in: path
        description: ID associated with the credential
        required: true
        example: 575ec76c7ae143cd83dc4a96
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      - name: includeCustomNodes
        in: query
        description: If the result of the request should also include the details of any custom nodes referenced by returned
          workflows
        required: false
        example: true
        schema:
          type: string
          default: false
      responses:
        '200':
          description: Linked resource information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/credentialLinkedResources'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if credential was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
    patch:
      summary: Updates Information About a Credential
      tags:
      - Application
      parameters:
      - *id017
      - *id018
      requestBody:
        description: Object containing new properties of the credential
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/credentialPatch'
      responses:
        '200':
          description: Updated credential information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/credential'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if credential was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
    delete:
      summary: Deletes a Credential
      tags:
      - Application
      parameters:
      - *id017
      - *id018
      responses:
        '200':
          description: If credential was successfully deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/success'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if credential was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
  /applications/{applicationId}/credentials:
    get:
      summary: Returns a Collection of Credentials for an Application
      tags:
      - Application
      parameters:
      - &id019
        name: applicationId
        in: path
        description: ID associated with the application
        required: true
        example: 575ec8687ae143cd83dc4a97
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      - name: sortField
        in: query
        description: Field to sort the results by
        required: false
        example: creationDate
        schema:
          type: string
          enum:
          - name
          - type
          - creationDate
          - lastUpdated
          default: creationDate
      - name: sortDirection
        in: query
        description: Direction to sort the results by
        required: false
        example: asc
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      - name: page
        in: query
        description: Which page of results to return
        required: false
        example: 0
        schema:
          type: string
          default: 0
      - name: perPage
        in: query
        description: How many items to return per page
        required: false
        example: 10
        schema:
          type: string
          default: 100
      - name: filterField
        in: query
        description: Field to filter the results by. Blank or not provided means no filtering.
        required: false
        example: type
        schema:
          type: string
          enum:
          - name
          - type
      - name: filter
        in: query
        description: Filter to apply against the filtered field. Supports globbing. Blank or not provided means no filtering.
        required: false
        example: aws
        schema:
          type: string
      responses:
        '200':
          description: Collection of credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/credentials'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if application was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
    post:
      summary: Create a New Credential for an Application
      tags:
      - Application
      parameters:
      - *id019
      requestBody:
        description: Credential information
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/credentialPost'
      responses:
        '201':
          description: Successfully created credential
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/credential'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if application was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
  /dashboards/{dashboardId}:
    get:
      summary: Retrieves Information on a Dashboard
      tags:
      - Application
      parameters:
      - &id020
        name: dashboardId
        in: path
        description: ID of the associated dashboard
        required: true
        example: 575ece2b7ae143cd83dc4a9b
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      - name: password
        in: query
        description: Password for password-protected dashboards
        required: false
        example: myPassword
        schema:
          type: string
      responses:
        '200':
          description: Dashboard information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dashboard'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if dashboard was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
    patch:
      summary: Updates Information About a Dashboard
      tags:
      - Application
      parameters:
      - *id020
      requestBody:
        description: Object containing new dashboard properties
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dashboardPatch'
      responses:
        '200':
          description: Update dashboard information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dashboard'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if dashboard was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
    delete:
      summary: Deletes a Dashboard
      tags:
      - Application
      parameters:
      - *id020
      responses:
        '200':
          description: If dashboard was successfully deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/success'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if dashboard was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
    post:
      summary: Sends a Snapshot of a Dashboard
      tags:
      - Application
      parameters:
      - *id020
      requestBody:
        description: Object containing report options
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dashboardSendReport'
      responses:
        '202':
          description: If dashboard report was enqueued to be sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/jobEnqueuedResult'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if dashboard was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
  /dashboards:
    get:
      summary: Returns the Dashboards the Current User Has Permission to See
      tags:
      - Application
      parameters:
      - name: sortField
        in: query
        description: Field to sort the results by
        required: false
        example: name
        schema:
          type: string
          enum:
          - name
          - id
          - creationDate
          - ownerId
          - applicationId
          - lastUpdated
          default: name
      - name: sortDirection
        in: query
        description: Direction to sort the results by
        required: false
        example: asc
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
      - name: page
        in: query
        description: Which page of results to return
        required: false
        example: 0
        schema:
          type: string
          default: 0
      - name: perPage
        in: query
        description: How many items to return per page
        required: false
        example: 10
        schema:
          type: string
          default: 100
      - name: filterField
        in: query
        description: Field to filter the results by. Blank or not provided means no filtering.
        required: false
        example: name
        schema:
          type: string
          enum:
          - name
      - name: filter
        in: query
        description: Filter to apply against the filtered field. Supports globbing. Blank or not provided means no filtering.
        required: false
        example: my * dashboard
        schema:
          type: string
      - name: applicationId
        in: query
        description: If not provided, return all dashboards. If provided but blank, only return dashboards that are not linked
          to applications. If provided and an id, only return dashboards linked to the given application id.
        required: false
        example: 575ec8687ae143cd83dc4a97
        schema:
          type: string
          pattern: ^([A-Fa-f\d]{24}|)$
      - name: orgId
        in: query
        description: If not provided, return all dashboards. If provided but blank, only return dashboards belonging to the
          current user. If provided and an id, only return dashboards belonging to the given organization id.
        required: false
        example: 575ece7e7ae143cd83dc4a9c
        schema:
          type: string
          pattern: ^([A-Fa-f\d]{24}|)$
      responses:
        '200':
          description: Collection of dashboards
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dashboards'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
    post:
      summary: Create a New Dashboard
      tags:
      - Application
      requestBody:
        description: New dashboard information
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dashboardPost'
      responses:
        '201':
          description: Successfully created dashboard
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dashboard'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
  /applications/{applicationId}/events/{eventId}:
    get:
      summary: Retrieves Information on an Event
      tags:
      - Application
      parameters:
      - &id021
        name: applicationId
        in: path
        description: ID associated with the application
        required: true
        example: 575ec8687ae143cd83dc4a97
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      - &id022
        name: eventId
        in: path
        description: ID associated with the event
        required: true
        example: 575ed0de7ae143cd83dc4aa5
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      responses:
        '200':
          description: Event information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/event'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if event was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
    patch:
      summary: Updates Information About an Event
      tags:
      - Application
      parameters:
      - *id021
      - *id022
      requestBody:
        description: Object containing new properties of the event
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/eventPatch'
      responses:
        '200':
          description: Updated event information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/event'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if event is not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
    delete:
      summary: Deletes an Event
      tags:
      - Application
      parameters:
      - *id021
      - *id022
      responses:
        '200':
          description: If event was successfully deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/success'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if event was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
  /applications/{applicationId}/events:
    get:
      summary: Returns the First New Event Ordered by Severity and Then Creation
      tags:
      - Application
      parameters:
      - &id023
        name: applicationId
        in: path
        description: ID associated with the application
        required: true
        example: 575ec8687ae143cd83dc4a97
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      - name: filter
        in: query
        description: Filter to apply against event subjects. Supports globbing. Blank or not provided means no filtering.
        required: false
        example: abnormal power to *
        schema:
          type: string
      - name: query
        in: query
        description: Event filter JSON object which overrides the filter parameter.
        required: false
        schema:
          type: object
      responses:
        '200':
          description: The event, plus count of currently new events
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eventPlusNewCount'
        '404':
          description: Error if application was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
    post:
      summary: Request an Export of an Application's Event Data
      tags:
      - Application
      parameters:
      - *id023
      requestBody:
        description: Export options for events
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/eventsExport'
      responses:
        '202':
          description: If generation of export was successfully started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/jobEnqueuedResult'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if application was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
    patch:
      summary: Asynchronously Updates Information for Matching Events by Subject and/or Current State
      tags:
      - Application
      parameters:
      - *id023
      - name: filterField
        in: query
        description: Field to filter the events to act on by. Blank or not provided means no filtering.
        required: false
        example: subject
        schema:
          type: string
          enum:
          - subject
      - name: filter
        in: query
        description: Filter to apply against the filtered field. Supports globbing. Blank or not provided means no filtering.
        required: false
        example: abnormal power to *
        schema:
          type: string
      - name: state
        in: query
        description: If provided, act on events only in the given state.
        required: false
        example: new
        schema:
          type: string
          enum:
          - new
          - acknowledged
          - resolved
      - name: query
        in: query
        description: Event filter JSON object which overrides the filterField, filter, and state parameters.
        required: false
        schema:
          type: object
      - name: email
        in: query
        description: Email address to send a notification with update job results. Defaults to current user's email.
        required: false
        example: email@example.com
        schema:
          type: string
      - name: callbackUrl
        in: query
        description: Callback URL to call with update results from a job.
        required: false
        example: https://example.com/cburl
        schema:
          type: string
      requestBody:
        description: Object containing updated information for the events.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/eventPatch'
      responses:
        '200':
          description: If the bulk update has been completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/success'
        '202':
          description: If a bulk update job has been enqueued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/jobEnqueuedResult'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if application is not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
  /applications/{applicationId}/file/{fileId}:
    get:
      summary: Retrieves Information on a File
      tags:
      - Application
      parameters:
      - &id024
        name: applicationId
        in: path
        description: ID associated with the application
        required: true
        example: 575ec8687ae143cd83dc4a97
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      - &id025
        name: fileId
        in: path
        description: ID associated with the file
        required: true
        example: 575ec76c7ae143cd83dc4a96
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      responses:
        '200':
          description: File information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/file'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if file was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
    patch:
      summary: Reupload a File
      tags:
      - Application
      parameters:
      - *id024
      - *id025
      requestBody:
        description: Updated information about the file
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filePatch'
      responses:
        '201':
          description: Successfully updated file and the information needed to upload the file content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fileUploadPostResponse'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if file was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
    post:
      summary: Uploads the File
      tags:
      - Application
      parameters:
      - *id024
      - *id025
      - name: file
        in: multipart
        description: The content of the file to upload
        required: true
        schema:
          type: file
      responses:
        '200':
          description: Updated file content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/file'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if file was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
    delete:
      summary: Deletes a File or Directory, if Directory All the Contents That Directory Will Also Be Removed.
      tags:
      - Application
      parameters:
      - *id024
      - *id025
      responses:
        '200':
          description: If file was successfully deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/success'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if file was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
  /applications/{applicationId}/files:
    get:
      summary: Returns the Files for an Application
      tags:
      - Application
      parameters:
      - &id026
        name: applicationId
        in: path
        description: ID associated with the application
        required: true
        example: 575ec8687ae143cd83dc4a97
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      - name: sortField
        in: query
        description: Field to sort the results by
        required: false
        example: name
        schema:
          type: string
          enum:
          - lastUpdated
          - type
          - name
          - creationDate
          default: lastUpdated
      - name: sortDirection
        in: query
        description: Direction to sort the results by
        required: false
        example: asc
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
      - name: page
        in: query
        description: Which page of results to return
        required: false
        example: 0
        schema:
          type: string
          default: 0
      - name: perPage
        in: query
        description: How many items to return per page
        required: false
        example: 10
        schema:
          type: string
          default: 100
      - name: filterField
        in: query
        description: Field to filter the results by. Blank or not provided means no filtering.
        required: false
        example: name
        schema:
          type: string
          enum:
          - name
      - name: filter
        in: query
        description: Filter to apply against the filtered field. Supports globbing. Blank or not provided means no filtering.
        required: false
        example: myFile
        schema:
          type: string
      - name: type
        in: query
        description: Limit by the type (file or directory) of the file
        required: false
        example: file
        schema:
          type: string
      - name: status
        in: query
        description: Limit the result to only files of this status
        required: false
        example: completed
        schema:
          type: string
          enum:
          - completed
          - pending
      - name: directory
        in: query
        description: Get files that are inside of this directory
        required: false
        example: /a/path/
        schema:
          type: string
      responses:
        '200':
          description: Collection of files
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/files'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if application was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
    post:
      summary: Create a New File for an Application
      tags:
      - Application
      parameters:
      - *id026
      requestBody:
        description: New file information
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filePost'
      responses:
        '201':
          description: Successfully created file and the information needed to upload the file content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fileUploadPostResponse'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if application was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
  /applications/{applicationId}/integrations/{integrationId}:
    get:
      summary: Retrieves Information on an Integration
      tags:
      - Application
      parameters:
      - &id027
        name: applicationId
        in: path
        description: ID associated with the application
        required: true
        example: 575ec8687ae143cd83dc4a97
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      - &id028
        name: integrationId
        in: path
        description: ID associated with the integration
        required: true
        example: 575ed78e7ae143cd83dc4aab
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      responses:
        '200':
          description: integration information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/integration'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if integration was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
    patch:
      summary: Updates Information About an Integration
      tags:
      - Application
      parameters:
      - *id027
      - *id028
      requestBody:
        description: Object containing new properties of the integration
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/integrationPatch'
      responses:
        '200':
          description: Updated integration information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/integration'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if integration was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
    delete:
      summary: Deletes an Integration
      tags:
      - Application
      parameters:
      - *id027
      - *id028
      - name: includeWorkflows
        in: query
        description: If the workflows that utilize this integration should also be deleted.
        required: false
        example: true
        schema:
          type: string
      responses:
        '200':
          description: If integration was successfully deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/success'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if integration was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
  /applications/{applicationId}/integrations:
    get:
      summary: Returns the Integrations for an Application
      tags:
      - Application
      parameters:
      - &id029
        name: applicationId
        in: path
        description: ID associated with the application
        required: true
        example: 575ec8687ae143cd83dc4a97
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      - name: sortField
        in: query
        description: Field to sort the results by
        required: false
        example: name
        schema:
          type: string
          enum:
          - name
          - id
          - creationDate
          - integrationType
          - lastUpdated
          default: name
      - name: sortDirection
        in: query
        description: Direction to sort the results by
        required: false
        example: asc
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
      - name: page
        in: query
        description: Which page of results to return
        required: false
        example: 0
        schema:
          type: string
          default: 0
      - name: perPage
        in: query
        description: How many items to return per page
        required: false
        example: 10
        schema:
          type: string
          default: 100
      - name: filterField
        in: query
        description: Field to filter the results by. Blank or not provided means no filtering.
        required: false
        example: integrationType
        schema:
          type: string
          enum:
          - name
          - integrationType
      - name: filter
        in: query
        description: Filter to apply against the filtered field. Supports globbing. Blank or not provided means no filtering.
        required: false
        example: my*integration
        schema:
          type: string
      responses:
        '200':
          description: Collection of integrations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/integrations'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if application was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
    post:
      summary: Create a New Integration for an Application
      tags:
      - Application
      parameters:
      - *id029
      requestBody:
        description: New integration information
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/integrationPost'
      responses:
        '201':
          description: Successfully created integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/integration'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if application was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
  /applications/{applicationId}/privateFiles/{privateFileId}:
    get:
      summary: Retrieves Information on a Private File
      tags:
      - Application
      parameters:
      - &id030
        name: applicationId
        in: path
        description: ID associated with the application
        required: true
        example: 575ec8687ae143cd83dc4a97
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      - &id031
        name: privateFileId
        in: path
        description: ID associated with the private file
        required: true
        example: 575ec76c7ae143cd83dc4a96
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      - name: urlTTL
        in: query
        description: Time in seconds that the private file url will be valid for. Only applies to private files of type 'file'.
          If 0, no url will be returned.
        required: false
        example: 900
        schema:
          type: string
          default: 900
      responses:
        '200':
          description: Private file information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/file'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if private file was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
    patch:
      summary: Reupload a Private File
      tags:
      - Application
      parameters:
      - *id030
      - *id031
      requestBody:
        description: Updated information about the private file
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filePatch'
      responses:
        '201':
          description: Successfully updated private file and the information needed to upload the file content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fileUploadPostResponse'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if private file was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
    post:
      summary: Uploads the Private File
      tags:
      - Application
      parameters:
      - *id030
      - *id031
      - name: privateFile
        in: multipart
        description: The content of the private file to upload
        required: true
        schema:
          type: file
      - name: urlTTL
        in: query
        description: Time in seconds that the private file url will be valid for. Only applies to private files of type 'file'.
          If 0, no url will be returned.
        required: false
        example: 900
        schema:
          type: string
          default: 900
      responses:
        '200':
          description: Updated private file content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/file'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if file was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
    delete:
      summary: Deletes a Private File or Directory, if a Directory All the Contents That Directory Will Also Be Removed.
      tags:
      - Application
      parameters:
      - *id030
      - *id031
      responses:
        '200':
          description: If private file was successfully deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/success'
        '400':
          description: Error if malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Error if private file was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - BearerAuth: []
  /applications/{applicationId}/privateFiles:
    get:
      summary: Returns the Private Files for an Application
      tags:
      - Application
      parameters:
      - &id032
        name: applicationId
        in: path
        description: ID associated with the application
        required: true
        example: 575ec8687ae143cd83dc4a97
        schema:
          type: string
          pattern: ^[A-Fa-f\d]{24}$
      - name: sortField
        in: query
        description: Field to sort the results by
        required: false
        example: name
        schema:
          type: string
          enum:
          - lastUpdated
          - type
          - name
          - creationDate
          default: lastUpdated
      - name: sortDirection
        in: query
        description: Direction to sort the results by
        required: false
        example: asc
        schema:
[...]
